doctype
html(lang="ru")
  head
    meta( charset="utf-8" )
    title Dobryat
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel = "stylesheet" href="assets/css/assets.css")
    link(rel = "stylesheet" href="assets/css/app.css")
  body#top
    nav.navbar.navbar-fixed-top.d-navbar
      .container
        .navbar-header
          .navbar-toggle.collapsed(data-toggle='collapse' data-target='#d-navbar' aria-expanded='false')
            span.glyphicon.glyphicon-menu-hamburger
          a.navbar-brand.d-logo.menu-js(href='#top')
            img(src="assets/images/logo.jpg")
          ul.nav.navbar-nav.d-numbers.inline.hidden-sm.hidden-lg.hidden-md
            li
              ul.list-group
                li.list-group-item.roboto-light (095)123-45-67
                li.list-group-item.roboto-light (095)123-45-67
        #d-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.d-numbers.hidden-xs
            li
              ul.list-group
                li.list-group-item.roboto-light (095)123-45-67
                li.list-group-item.roboto-light (095)123-45-67
          ul.nav.navbar-nav.navbar-right.d-menu
            li
              a.menu-js(href='#service')
                div Услуги
            li
              a.menu-js(href='#portfolio')
                div Портфолио
            li
              a.menu-js(href='#contacts')
                div Контакты

    header
      .d-header-content
        .container.m-b-50
          .f-36.roboto-light.header-title Продвижение сайтов в интернете
          .text-section.d-header-section
            .d-article.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.
          .d-header-section.btn-section
            .btn.btn-d.btn-d-white.f-24(data-toggle="modal" data-target="#orderModal") Подать заявку

    #orderModal.modal.fade.d-modal(tabindex='-1' role='dialog')
      .modal-dialog
        form(action="order.php" name="orderForm" method="POST")
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .input.men.m-xs
                input.form-control(type="text"  name="name" required="required" placeholder="Имя")
              .input.message.m-xs
                input.form-control(type="email"  name="email" required="required" placeholder="Email")
              .input.phone.m-xs
                input.form-control(type="phone"  name="phone" placeholder="Телефон")
              .input.web.m-xs
                input.form-control(type="text"  name="website" required="required" placeholder="Адрес сайта")
              .d-radios.text-center
                .radio.inline
                  label.d-radio
                    input(type='checkbox' name='serviceChBox1' value='Продвижение сайта')
                    span
                    | Продвижение сайта
                .radio.inline
                  label.d-radio
                    input(type='checkbox' name='serviceChBox2' value='Контекстная реклама')
                    span
                    | Контекстная реклама
                .radio.inline
                  label.d-radio
                    input(type='checkbox' name='serviceChBox3' value='Аудит сайта')
                    span
                    | Аудит сайта
              .input.m-xs.comment
                textarea.form-control(placeholder="Коментарии" name="comments")
            .modal-footer.text-center
              button.btn-d.btn-d-orange.f-24(type='submit' name="subm") Отправить


    section.d-section.grey-section.hidden-xs
      .container
        .row.m-t-200.m-b-200
          .col-md-6.col-sm-6
            .f-36.roboto-light.d-title.orange Lorem ipsum dolor
            .roboto-light.mobile-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.
    section.d-section.blue-section
      .container
        .d-title.center-title.f-36.white.roboto-light.m-t-lg Наши преимущества
        .row.text-center.m-t-lg.m-b-lg.best-section
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="staff")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/active/penta.png")
              img.img-core(src="assets/images/blue/active/staff.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Квалифицированные сотрудники
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="price")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/price.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Доступная цена
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="modern")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/modern.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Современные алгоритмы работы
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="report")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/report.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Объективная отчетность
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="recoupment")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/recoupment.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Окупаемость вложений
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="warranty")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/warranty.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Гарантия результата
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="individual")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/individual.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Индивидуальный подход
          .col-md-3.col-sm-3.best.m-b-sm.text-center.best-js(data-target="result")
            .field.hidden-xs.cursor-pointer
              img.penta(src="assets/images/blue/penta.png")
              img.img-core(src="assets/images/blue/result.png")
            .white.roboto-light.f-18.best-title.cursor-pointer Ориентированность на результат

        .info-content.m-b-lg
          .content.staff
            .d-title.center-title.f-36.white.roboto-light Квалифицированные сотрудники
            p.white.roboto-light asdasor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.price.hidden
            .d-title.center-title.f-36.white.roboto-light Доступная цена
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.modern.hidden
            .d-title.center-title.f-36.white.roboto-light Современные алгоритмы работы
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.report.hidden
            .d-title.center-title.f-36.white.roboto-light Объективная отчетность
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.recoupment.hidden
            .d-title.center-title.f-36.white.roboto-light Окупаемость вложений
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.warranty.hidden
            .d-title.center-title.f-36.white.roboto-light Гарантия результата
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.individual.hidden
            .d-title.center-title.f-36.white.roboto-light Индивидуальный подход
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

          .content.result.hidden
            .d-title.center-title.f-36.white.roboto-light Ориентированность на результат
            p.white.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.

    section.d-section.white-section.hidden-xs
      .container
        .d-title.center-title.f-36.orange.roboto-light.m-t-lg Наши цели
        .row
          .col-lg-5.col-md-5.text-center
            .f-24.roboto-light Lorem ipsum dolor sit amet, consectetur adipiscing elit.Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id
            .btn-d.btn-d-orange.d-btn-section(data-toggle="modal" data-target="#orderModal") Подать заявку
            .btn-d.btn-d-blue.d-btn-section(data-toggle="modal" data-target="#phoneModal") Заказать обратный звонок
          .col-lg-7.col-md-7.text-center
            .macbooks
              .macbook-front
                .macbook
                  .btn-loop(data-toggle="modal" data-target="#imagePreviewModal" data-image="assets/images/white/graph.jpg")
                  .screen-image
                    img(src="assets/images/white/graph.jpg")
              .macbook-back
                .macbook
                  .btn-loop.black(data-toggle="modal" data-target="#imagePreviewModal" data-image="assets/images/white/site.jpg")
                  .screen-image
                    img(src="assets/images/white/site.jpg")
    #imagePreviewModal.modal.fade.d-modal.d-image-preview
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.text-center
            img.target-image(src="")

    section.d-section.tabs-section#service
      .wrapper
        .container
          .d-title.center-title.f-36.white.roboto-light.m-t-lg Наши услуги
          .row.m-b-100.d-tab-wrapper
            .col-md-4.col-sm-4.text-center.cursor-pointer.d-tab(data-target="seo")
              img(src="assets/images/tabs/seo.png")
              .best-title.white.f-18.roboto-light.m-t-lg Поисковая оптимизация
            .col-md-4.col-sm-4.text-center.cursor-pointer.d-tab(data-target="men")
              img(src="assets/images/tabs/men.png")
              .best-title.white.f-18.roboto-light.m-t-lg Контекстная реклама
            .col-md-4.col-sm-4.text-center.cursor-pointer.d-tab(data-target="audit")
              img(src="assets/images/tabs/audit.png")
              .best-title.white.f-18.roboto-light.m-t-lg Аудит сайта
      .content
        .container.seo
          .d-title.center-title.f-36.black.roboto-light.p-t-lg.seo seo
          .d-title.center-title.f-36.black.roboto-light.p-t-lg.men.hidden men
          .d-title.center-title.f-36.black.roboto-light.p-t-lg.audit.hidden audit
          .p-b-100
            .text-section
              p.black.roboto-light.seo.content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.
              p.black.roboto-light.men.content-text.hidden asd, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.
              p.black.roboto-light.audit.content-text.hidden 11111 dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt accumsan ullamcorper. Praesent malesuada ut urna id lacinia. Pellentesque laoreet massa sit amet finibus rutrum.
            .text-center.btn-section
              .btn-d.btn-d-orange.btn-d-grey.d-btn-section.f-24(data-toggle="modal" data-target="#orderModal") Подать заявку

    #phoneModal.modal.fade.d-modal(tabindex='-1' role='dialog')
      .modal-dialog
        form(action="phone.php" name="phoneForm" method="POST")
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .input.men.m-xs
                input.form-control(type="text" name="nam" required="required" placeholder="Имя")
              .input.phone.m-xs
                input.form-control(type="phone" name="tel" required="required" placeholder="Телефон")
            .modal-footer.text-center `
              button.btn-d.btn-d-orange.f-24(type='submit' name="sendPhoneForm") Отправить

    .container-fluid.slider-section#portfolio
      .d-title.center-title.f-36.white.roboto-light Портфолио
      .slider
        .slide
          .slide-wrapper
            .slide-img-wrapper
              img(src="assets/images/slider/clientLogo.png")
            .slide-content
              a.f-24.text-center.roboto-light.d-title.black.center-title(href="#") lorem ipsum
              .roboto-light lorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lore
        .slide
          .slide-wrapper
            .slide-img-wrapper
              img(src="assets/images/slider/clientLogo.png")
            .slide-content
              a.f-24.text-center.roboto-light.d-title.black.center-title(href="#") lorem ipsum
              .roboto-light lorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lore
        .slide
          .slide-wrapper
            .slide-img-wrapper
              img(src="assets/images/slider/clientLogo.png")
            .slide-content
              a.f-24.text-center.roboto-light.d-title.black.center-title(href="#") lorem ipsum
              .roboto-light lorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lore
        .slide
          .slide-wrapper
            .slide-img-wrapper
              img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTnHTOK_zZUh9w7E3pWF1itzC4O29so8K4V3X0BLTGA6wrRCOyxoA")
            .slide-content
              a.f-24.text-center.roboto-light.d-title.black.center-title(href="#") lorem ipsum
              .roboto-light lorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lore
        .slide
          .slide-wrapper
            .slide-img-wrapper
              img(src="assets/images/slider/clientLogo.png")
            .slide-content
              a.f-24.text-center.roboto-light.d-title.black.center-title(href="#") lorem ipsum
              .roboto-light lorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lorelorem ipsum do lore

    .container-fluid.footer#contacts
      .container
        .row
          .col-lg-7.col-md-7.col-sm-7
            .btns-section.m-t-50
              .btn-d.btn-d-orange.d-btn-section(data-toggle="modal" data-target="#orderModal") Подать заявку
              .btn-d.btn-d-blue.d-btn-section(data-toggle="modal" data-target="#phoneModal") Заказать обратный звонок
            .contacts-section.m-t-lg
              .contacts.white
                .contact.phone.roboto-light (093)567-67-67
                .contact.phone.roboto-light (095)567-67-67
                .contact.skype.roboto-light info_skype
                .contact.message.roboto-light mail@example.com
              .socials
                a.social.vk(href="#")
                a.social.fb(href="#")
                a.social.tw(href="#")
                a.social.gg(href="#")
          .col-lg-5.col-md-5.col-sm-5.map-section
            img(src="assets/images/map.jpg")
    .post-footer.container-fluid

    script( type = "application/javascript"  src = "assets/js/assets.js")
    script( type = "application/javascript"  src = "assets/js/app.js")
