.f-36 {
  font-size: 36px!important;
}

.f-24 {
  font-size: 24px!important;
}

.f-18 {
  font-size: 18px!important;
}

.d-article {
  padding-top: 20px;
  position: relative;
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 20px;
    height: 1px;
    background: $d-white;
    top: 100%;
    margin-top: 30px;
    left: 0;
  }
}

.d-title {
  position: relative;
  margin-bottom: 50px;

  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 20px;
    height: 1px;
    top: 100%;
    left: 0;
    background: $d-black;
    margin-top: 10px;
  }

  &.orange {
    &:after {
      background: $d-orange;
    }
  }

  &.white {
    &:after {
      background: $d-white;
    }
  }

  &.black {
    &:after {
      background: $d-black;
    }
  }

  &.center-title {
    text-align: center;

    &:after {
      left: 50%;
      margin-left: -10px;
    }
  }
}
