body {
  margin: 0;

  &.modal-open {
    overflow: visible;
    padding-right: 0!important;
  }
}

* {
  font-family: "Roboto";
}

.roboto-light {
  font-family: "Roboto Light";
}

.roboto-bold {
  font-family: "Roboto Bold";
}

.d-section {
  width: 100%;
}

.m-xs {
  margin: 5px;
}

.m-t-200 {
  margin-top: 200px;
}

.m-b-200 {
  margin-bottom: 200px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}
.p-b-100 {
  padding-bottom: 100px;
}

.m-b-sm {
  margin-bottom: 15px;
}

.m-t-lg {
  margin-top: 25px;
}
.p-t-lg {
  padding-top: 25px;
}
.m-b-lg {
  margin-bottom: 25px;
}

.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center!important;
}

.inline {
  display: inline-block;
}
