.blue-section {
  background: $d-blue;

  .best-section {
    padding: 20px 120px;
  }

  .best {
    img {
      max-width: 100%;
    }

    .best-title {
      height: 60px;
      width: 100%;
      overflow: hidden;
      color: $d-white;
      text-overflow: ellipsis;
    }

    .field {
      position: relative;
      max-width: 250px;
      margin: 0 auto;
    }

    .img-core {
      position: absolute;
      top: 50%;
      margin-top: -40%;
      left: 0;
    }
  }
}
