.btn-d {
  padding: 10px 30px;
  background: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: "Roboto Light";
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.1s ease;

  &.btn-d-white {
    border: 1px solid $d-white;
    color: $d-white;
    &:hover {
      border: 1px solid $d-blue;
      background:rgba(57, 174, 207, 0.5);
      color: $d-white;
    }

    &:active {
      border: 1px solid $d-blue;
      color: $d-white;
      background:rgba(57, 174, 207, 0.8);
    }
  }



  &.btn-d-orange {
    border: 1px solid $d-orange;
    color: $d-orange;

    &:hover {
      background: rgba(245, 118, 1, 0.5);
      color: $d-white;
    }

    &:active {
      background: rgba(245, 118, 1, 0.8);
      color: $d-white;
    }
  }
  &.btn-d-blue {
    border: 1px solid $d-blue;
    color: $d-blue;

    &:hover {
      background:rgba(57, 174, 207, 0.5);
      color: $d-white;
    }

    &:active {
      color: $d-white;
      background:rgba(57, 174, 207, 0.8);
    }
  }

  &.btn-d-grey {
    background: #999;
    color: $d-white;
  }

  &.d-btn-section {
    display: inline-block;
    font-size: 18px;
  }
}

.d-radio {
  display: inline-block;
  color: $d-white;
  font-family: "Roboto Light";
  padding-left: 10px!important;
  position: relative;

  span {
    position: absolute;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 2px solid $d-blue;
    left: 0;
    top: 0;
    margin: 6px;
    transition: background 0.3s ease;
  }

  input[type="checkbox"] {
    opacity: 0;

    &:checked + span {
      background: $d-white;
    }
  }
}
