.footer {
  background: $d-footer;
  .map-section {
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
    }
  }

  .contacts-section {

    .socials {
      vertical-align: bottom;
      display: inline-block;
      width: auto;
      height: 40px;

      .social {
        width: 30px;
        height: 30px;
        display: inline-block;
        content: '';
        margin-left: 10px;

        &.vk {
          background: url("../images/icons/vk.png") no-repeat;
          background-size: cover;

          &:hover{
            background: url("../images/icons/vk-active.png") no-repeat;
            background-size: cover;
          }
        }
        &.tw {
          background: url("../images/icons/twitter.png") no-repeat;
          background-size: cover;

          &:hover{
            background: url("../images/icons/twitter-active.png") no-repeat;
            background-size: cover;
          }
        }

        &.fb {
          background: url("../images/icons/facebook.png") no-repeat;
          background-size: cover;

          &:hover{
            background: url("../images/icons/facebook-active.png") no-repeat;
            background-size: cover;
          }
        }
        &.gg {
          background: url("../images/icons/google.png") no-repeat;
          background-size: cover;

          &:hover{
            background: url("../images/icons/google-active.png") no-repeat;
            background-size: cover;
          }
        }
      }
    }

    .contacts {
      vertical-align: bottom;
      display: inline-block;
      width: auto;
      margin-right: 50px;


      .contact {
        padding-left: 40px;
        height: 40px;
        position: relative;
        line-height: 40px;
        &:after {
          position: absolute;
          display: inline-block;
          content: '';
          width: 40px;
          height: 40px;
          top: 0;
          left: 0;
        }

        &.phone {
          &:after{
            background: url("../images/icons/phone.png") no-repeat center;
          }
        }
        &.skype {
          &:after{
            background: url("../images/icons/skype.png") no-repeat center;
          }
        }
        &.message {
          &:after{
            background: url("../images/icons/message.png") no-repeat center;
          }
        }
      }
    }
  }
}
.post-footer {
  width: 100%;
  height: 50px;
  content: '';
  background: $d-dark-grey;
}