.grey-section {
  background: $d-grey;
  position: relative;

  &:before {
    display: inline-block;
    position: absolute;
    width: 800px;
    top: 0;
    right: 0;
    height: 100%;
    content: '';
    background: url("../images/s2.png") no-repeat;
  }
}
