.d-navbar {
  transition: background 0.3s ease;

  .d-logo {
    padding: 0;
    height: 60px;
    margin-right: 50px;
    img {
      max-height: 100%;
    }
  }
  .d-numbers {
    margin-top: 5px;
    color: $d-white;
    transition: color 0.3s ease;

    ul {
      margin: 0;
      li {
        background: none;
        border: none;
        padding: 2px;
      }
    }
  }

  .d-menu {
    li {
      a {
        color: $d-white;

        div {
          padding: 5px 20px;
          transition: color 0.3s ease, border 0.3s ease;
          border: 2px solid transparent;
          font-family: "Roboto Light";
        }

        &:focus {
          background: none;
        }
      }

      &.active, &:hover, &:active, &:focus {
        outline: none;
        a {
          background: none;
          color: $d-blue;

          div {
            border: 2px solid $d-blue;
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  background:  url("../images/header.jpg") fixed no-repeat;
  background-size: cover;
  .header-title {
    max-width: 60%;
  }
  .d-header-content{
    padding-top: 120px;
    color: $d-white;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    .d-header-section {
      width: 50%;
      vertical-align: middle;
      display: inline-block;

      &.btn-section {
        width: 45%;
        text-align: right;
        margin-left: 20px;
      }
    }
  }
}