.d-navbar.onscrolling {
  background: $d-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

  .d-numbers {
    color: $d-black;
  }

  .d-menu {
    li {
      a {
        color: $d-black;
      }

      &.active, &:hover, &:active, &:focus {
        a div {
          border-color: $d-black;
        }
      }
    }
  }
}