@media screen and (max-width: 767px) {
  .header-title {
    max-width: 100%!important;
    text-align: center;
  }

  .navbar-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 36px;
    cursor: pointer;
    color: $d-black;
    padding: 0;
  }
  nav.navbar {
    position: static;
    margin-bottom: 0;
  }

  .navbar-collapse {
    border-top: 1px solid $d-grey;
  }
  .d-navbar {
    background: $d-white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    .d-numbers {
      color: $d-black;
    }

    .d-menu {
      li {
        a {
          color: $d-black;
        }

        &.active, &:hover, &:active, &:focus {
          a div {
            color: $d-black;
            border-color: $d-black;
          }
        }
      }
    }
  }

  .tabs-section .content .container:before {
    opacity: 0;
  }

  .blue-section {
    .best-title {
      font-size: 24px;
      padding: 20px 0;
      font-weight: bold;
      border: 2px solid $d-white;
      transition: all 0.3s ease;

      &:hover {
        background: $d-white;
        color: $d-orange!important;
        border: 2px solid $d-orange;
      }

    }
  }

  .d-header-section {
    width: 100%!important;
    text-align: justify;
    display: block;
    margin-bottom: 50px;
    &.btn-section {
      text-align: center!important;
    }

  }

  .tabs-section {
    .text-section {
      width: 100% !important;
      display: block;
      vertical-align: middle;
    }

    .btn-section {
      width: 100% !important;
      display: block;
      text-align: center;
      vertical-align: middle;
    }
  }
}

@media screen and(max-width: 992px) {
  .mobile-text {
    text-align: center;
    color: $d-white;
    background: rgba(0,0,0,0.75);
  }

  .footer {
   .btns-section {
     text-align: center;
   }
  }
  .blue-section .best-section{
    padding: 0!important;
  }
}


@media screen and(max-width: 1200px) {
  .blue-section .best-title{
    font-size: 14px!important;
  }
}