.d-modal {
  overflow-y: auto !important;

  &#orderModal, &#phoneModal {
    .modal-dialog {
      max-width: 450px;
    }
  }

  .modal-dialog {
    width: 70%;
    margin: 30px auto;
  }
  .modal-content {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 0;
    border: 1px solid $d-blue;

    .modal-header {
      border: none;

      .close {
        color: $d-orange;
        opacity: 1;
        margin-top: -10px;
        margin-right: -5px;
        text-shadow: none;
        outline: none;
      }
    }

    .modal-body {
      padding: 15px 50px;

      .form-control {
        border-radius: 0;
        background: none;
        resize: none;
        border: 1px solid $d-blue;
        color: $d-blue;
        text-indent: 25px;
        font-family: "Roboto Light";

        &:focus {
          border: 1px solid $d-orange;
          box-shadow: none;
          color: $d-orange;
        }

        &::-webkit-input-placeholder {
          color: $d-white;
          font-family: "Roboto Light";
        }
      }

      .input {
        position: relative;
        &:after {
          display: inline-block;
          width: 34px;
          height: 34px;
          top: 0;
          left: 0;
          position: absolute;
          content: '';
        }
        &.men:after {
          background: url("../images/icons/men.png") center no-repeat;
        }
        &.phone:after {
          background: url("../images/icons/phone.png") center no-repeat;
          background-size: 40%;
        }
        &.web:after {
          background: url("../images/icons/web.png") center no-repeat;
        }
        &.message:after {
          background: url("../images/icons/message.png") center no-repeat;
          background-size: 20px;
        }
        &.comment:after {
          background: url("../images/icons/comment.png") center no-repeat;
          background-size: 20px;
        }

      }

      textarea.form-control {
        height: 120px;
        //text-indent: 50px;
      }

      .d-radios {
        .radio {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    .modal-footer {
      border: none;
    }
  }

  &.d-image-preview {
    .modal-dialog {
      width: 80%;

      .modal-body {
        img {
          max-width: 100%;
        }
        margin-bottom: 30px;
      }
    }

  }
}

.modal-backdrop {
  opacity: 0.3 !important;
}

.ui-pnotify {
  top: 70px;
  .ui-pnotify-container {
    background: rgba(0, 0, 0, 0.9);
    color: $d-orange;
    text-transform: uppercase;
    border: 1px solid $d-blue;
    border-radius: 0;
    .ui-pnotify-text {
      font-family: "Roboto Light";
    }
    .ui-pnotify-icon {
      display: none;
    }
  }
}