.slider-section {
  background: url("../images/slider/bg.jpg") fixed no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  overflow: hidden;

  .slide {
    display: inline-block;
    margin: 0 15px;
    height: 250px;
    transition: all 0.3s ease;
    opacity: 0.5;
    transform: scale(0.9);
    outline: none;
    &.slick-center {
      opacity: 1;
      .slide-wrapper {
        box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.3);
      }
    }

    .slide-wrapper {
      text-decoration: none;
      color: $d-black;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: $d-white;
      position: relative;
      padding: 5px;

      &:active {
        outline: none;
      }

      &:hover {
        .slide-content {
          opacity: 1;
        }
        .slide-img-wrapper {
          opacity: 0;
        }
      }

      .slide-content {
        text-align: center;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
        overflow-y: auto;
        padding:20px 15%;
        background: $d-white;

        .d-title {
          display: block;

          &:hover {
            color: $d-orange;
            text-decoration: none;
          }
        }
      }

      .slide-img-wrapper {
        transition: opacity 0.3s ease;
        width: 80%;
        height: 250px;
        top: 50%;
        margin-top: -62.5px;
        left: 10%;
        position: absolute;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 133px;
          display: inline-block;
        }

      }
    }
  }
}
