.tabs-section {
  background: url("../images/tabs/webstudio.jpg") fixed no-repeat;
  background-size: cover;

  .wrapper {
    background: rgba(0, 0, 0, 0.25);

    .d-tab-wrapper {
      background: rgba(0, 0, 0, 0.75);
      padding: 30px;

      .d-tab {
        transition: background 0.3s ease;
        border-radius: 5px;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  .content {
    background: $d-white;

    .container {
      position: relative;

      .text-section {
        width: 60%;
        display: inline-block;
        vertical-align: middle;
      }

      .btn-section {
        width: 39%;
        text-align: right!important;
        display: inline-block;
        vertical-align: middle;
      }

      &:before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        margin-top: -70px;
        border-bottom: 80px solid transparent;
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        transition: left 0.3s ease, margin-left 0.3s ease;
      }

      &.seo:before {
        left: 15%;
        margin-left: -80px;
        border-bottom: 80px solid $d-white;
      }
      &.men:before {
        left: 45%;
        margin-left: -80px;
        border-bottom: 80px solid $d-white;
      }
      &.audit:before {
        left: 75%;
        margin-left: -80px;
        border-bottom: 80px solid $d-white;
      }
    }
  }
}