$d-blue: #39aecf;
$d-white: #fff;
$d-black: #000;
$d-orange: #f57601;
$d-grey: #e2e2e2;
$d-dark-grey: #231e1e;
$d-footer: #303030;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

.orange {
  color: $d-orange;
}

.white {
  color: $d-white;
}

.black {
  color: $d-black;
}