.macbooks {
  position: relative;
  min-height: 400px;
  vertical-align: bottom;
  .macbook-front {
    display: inline-block;
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
  }
  .macbook-back {
    display: inline-block;
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
  }


  .macbook {
    width: 400px;
    height: 275px;
    display: inline-block;
    background: url("../images/white/macbook1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;

    .btn-loop {
      position: absolute;
      display: inline-block;
      content: '';
      background: rgba(255, 255, 255, 0.25);
      width: 50px;
      height: 50px;
      border-radius: 5px;
      z-index: 10;
      cursor: pointer;
      top: 10%;
      right: 14%;
      transition: background 0.3s ease;

      &:after {
        position: absolute;
        display: inline-block;
        content: '';
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        background: url("../images/white/loop.png");
        background-size: contain;
        opacity: 0.8;
        background-repeat: no-repeat;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &.black {
        background: rgba(0, 0, 0, 0.25);

        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .screen-image {
      width:300px;
      height: 200px;
      overflow:hidden;
      padding-top: 20px;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
  }
}